ClassLibrary1/Service References/ServiceReference1/HighScoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PTC.Utils" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PTC.Utils" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KeyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyInfo" nillable="true" type="tns:KeyInfo" />
  <xs:complexType name="HighScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HighScore" nillable="true" type="tns:HighScore" />
  <xs:complexType name="ArrayOfHighScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HighScore" nillable="true" type="tns:HighScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHighScore" nillable="true" type="tns:ArrayOfHighScore" />
</xs:schema>