ClassLibrary1/Service References/ServiceReference1/HighScoreService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1701/HighScoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PTC.Utils" />
  <xs:import schemaLocation="http://localhost:1701/HighScoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetPublicKey">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PTC.Utils" minOccurs="0" name="GetPublicKeyResult" nillable="true" type="q1:KeyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Submit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q2:guid" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PTC.Utils" minOccurs="0" name="highScore" nillable="true" type="q3:HighScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PTC.Utils" minOccurs="0" name="SubmitResult" nillable="true" type="q4:KeyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentHighScores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentHighScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PTC.Utils" minOccurs="0" name="GetCurrentHighScoresResult" nillable="true" type="q5:ArrayOfHighScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>